@{
    ViewBag.Title = "Custom Prep Times";
}

<h2>Custom Prep Times By Day/Time</h2>
<div>
    <a href="javascript:void(0);" class="float-right" data-bind="click: addNew">Add New</a>
</div>
<table>
    <thead>
        <tr>
            <th>Days</th>
            <th>Times</th>
            <th>Prep Time</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: prepTimes">
        <tr>
            <td data-bind="text: daysDisplay"></td>
            <td data-bind="text: times"></td>
            <td data-bind="text: PrepTime"></td>
            <td>
                <a href="javascript:void(0);" data-bind="click: editSelf">edit</a>
            </td>
            <td>
                <a href="javascript:void(0);" data-bind="click: deleteSelf">delete</a>
            </td>
        </tr>
    </tbody>
</table>

<div id="addEditDialog" data-bind="with: selectedPrepTime" title="Add New Custom Prep Time">
    <fieldset>
        <ol class="floating" data-bind="foreach: $parent.availableDays">
            <li>
                <input type="checkbox" data-bind="checked: $parent.Days, value: value, attr: {'id': 'chkItem_' + name}" />
                <label data-bind="text: name, attr: {'for': 'chkItem_' + name}"></label>
            </li>
        </ol>
        <section id="addEditFields" class="center clearfix">
            <div>
                <label for="txtFromTime">From: </label>
                <input id="txtFromTime" type="text" data-bind="value: TimeFrom, valueUpdate: 'afterkeydown', watermark: '12:00 PM'" />
                <label for="txtToTime">To: </label>
                <input id="txtToTime" type="text" data-bind="value: TimeTo, valueUpdate: 'afterkeydown', watermark: '12:00 PM'" />
            </div>
            <div>
                <label for="txtPrepTime">Prep Time: </label>
                <input id="txtPrepTime" type="text" data-bind="value: PrepTime, valueUpdate: 'afterkeydown', watermark: '30'" />
                minutes
            </div>
        </section>
    </fieldset>
    <div class="float-right">
        <button type="button" data-bind="click: save, enable: isValid()">Save</button>
        <button type="button" data-bind="click: closeForm">Cancel</button>
    </div>
</div>

@section scripts
{
    <script>
        var rootHomeGetAllUri = '@Url.Action("GetPrepTimes")';
        var rootHomeAddUri = '@Url.Action("Add")';
        var rootHomeEditUri = '@Url.Action("Edit")';
        var rootHomeDeleteUri = '@Url.Action("Delete")';
    </script>
    <script src="../../Scripts/Home/HomeIndex.js"></script>
}